  # Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.venv
env/
.env
.env.prod

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore log files
*.log

# Ignore any compiled files
*.o
*.so
*.a

# Katastrofa
.db_data/

.kube/